<%- include("includes/header.ejs") %>
<body>
    <h1>WELCOME TO INSTAGRAM</h1>
  <h3>Suggested Accounts</h3>
  <div class="suggested-container">
    <% for (let username in users) {
         let user = users[username]; %>
      <div class="suggested-card">
        <a href="/ig/<%= username %>">
          <% if(user.posts && user.posts.length > 0) { %>
            <img src="<%= user.posts[0].image %>" alt="Profile Image">
          <% } %>
          <h2>@<%= user.name %></h2>
          <p><%= user.followers %> followers</p>
        </a>
      </div>
    <% } %>
  </div>
</body>

